@model CasaDeShow.DTO.CasaShowDTO
@{
    Layout = "_LayoutAdmin";
}
<h3>Editar Casa de Show</h3>
<hr/>
<form class="form-horizontal" asp-controller="CasaShow" asp-action="Atualizar" method = "POST">
<input type="hidden" asp-for="Id">

<label asp-for="Nome">Nome</label>
<input type="text" asp-for="Nome" class="form-control" placeholder="Nome da Casa De Show">
<span asp-validation-for="Nome"> </span><br>

<label asp-for="Local">Local</label>
<input type="text" asp-for="Local" class="form-control" placeholder="Local">
<span asp-validation-for="Local"> </span><br>
<button class="btn btn-success">Atualizar</button>
</form>