@model CasaDeShow.DTO.EventoDTO
@{
    Layout= "_Layout";
}
<h3>Editar Evento</h3>
<hr/>
<form class="form-horizontal" asp-controller="Eventos"  asp-action="Atualizar" method = "POST">
    <input type="hidden" asp-for="Id">
    

    <label asp-for="Nome">Nome</label>
    <input type="text" asp-for="Nome" class="form-control" placeholder="Nome do Evento">
    <span asp-validation-for="Nome"> </span>

    <label>Selecione Categoria</label><br>
    <select class="form-controll" asp-for="CategoriaID" asp-items='@(new SelectList(@ViewBag.Categorias, "Id", "Nome"))'></select><br>

    <label>Selecione Casa de Show</label><br>
    <select class="form-controll" asp-for="CasaShowID" asp-items='@(new SelectList(@ViewBag.CasasShows, "Id", "Nome"))'></select><br>

    <label asp-for="QuantDeIngressos">Quantidade de Ingressos</label>
    <input asp-for="QuantDeIngressos" class="form-control" placeholder="Quantidade de Ingressos">
    <span asp-validation-for="QuantDeIngressos"> </span>

    <label asp-for="Data">Data do Evento</label>
    <input type="date" asp-for="Data" class="form-control" placeholder="Data do Evento">
    <span asp-validation-for="Data"> </span>
   


    <label asp-for="ValorDoIngresso">Valor do Ingresso</label>
    <input asp-for="ValorDoIngresso" class="form-control" placeholder="Valor em R$">
    <span asp-validation-for="ValorDoIngresso"> </span> 

    <br/>
    <br>
    <button class="btn btn-success">Atualizar</button>
</form>